__pycache__
*.swp
tags
cscope.*
*.o
src/.deps
src/depth2labels
src/exr-to-pfm
src/image-pre-processor
src/libglimpse.so
src/pack-training-data
src/pfm-debug
src/pfm-to-exr
src/rdt-to-json
src/train_joint_params
src/train_rdt
src/python/build
src/python/dist
src/python/glimpse.egg-info
src/python/glimpse.py
src/python/glimpse_wrap.cpp
